
.success-container {
    display: flex;
    justify-content: center;
    background-color: rgb(209,237,211);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding-top: 180px;
  }
  
  .success-message {
    font-size: 2rem;
    text-align: center;
    color: #32CD32; 
  }
  
  @media (max-width: 768px) {
    .success-message {
      font-size: 1.5rem;
    }
  }